.image-wrapper{
  width:180px;
}

.skills-container{
  width:240px;
  height:225px;
  align-items: center;
}

.skill-name-wrapper{
  color:#FF9933;
  margin-right: auto;
  margin-left: auto;
  margin-top: -23px;
  height:50px;
  width:150px;
  background-color: #212121;
}
