.pic-container{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 2px 5px 3px 3px black;
}


.img-fluid {
    height:auto;
    width:100%;
}

@media(min-width:780px) {
  .img-fluid{
    height:90vh
  }
}
